# Estimating Portfolio Risk of Equally Weighted 10 Stocks

In [2]:
# Import package dependencies
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('AAPL.csv')
df2 = pd.read_csv('ARKG.csv')
df3 = pd.read_csv('ARKK.csv')
df4 = pd.read_csv('EEM.csv')
df5 = pd.read_csv('GOOGL.csv')
df6 = pd.read_csv('ICLN.csv')
df7 = pd.read_csv('MSFT.csv')
df8 = pd.read_csv('QQQ.csv')
df9 = pd.read_csv('VOO.csv')
df10 = pd.read_csv('VWO.csv')

In [4]:
df1 = df1[['Date', 'Adj Close']]
df1.rename(columns={'Date' : 'date', 'Adj Close' : 'price_AAPL'}, inplace=True)
df1.set_index('date', inplace=True)

df2 = df2[['Date', 'Adj Close']]
df2.rename(columns={'Date' : 'date', 'Adj Close' : 'price_ARKG'}, inplace=True)
df2.set_index('date', inplace=True)

df3 = df3[['Date', 'Adj Close']]
df3.rename(columns={'Date' : 'date', 'Adj Close' : 'price_ARKK'}, inplace=True)
df3.set_index('date', inplace=True)

df4 = df4[['Date', 'Adj Close']]
df4.rename(columns={'Date' : 'date', 'Adj Close' : 'price_EEM'}, inplace=True)
df4.set_index('date', inplace=True)

df5 = df5[['Date', 'Adj Close']]
df5.rename(columns={'Date' : 'date', 'Adj Close' : 'price_GOOGL'}, inplace=True)
df5.set_index('date', inplace=True)

df6 = df6[['Date', 'Adj Close']]
df6.rename(columns={'Date' : 'date', 'Adj Close' : 'price_ICLN'}, inplace=True)
df6.set_index('date', inplace=True)

df7 = df7[['Date', 'Adj Close']]
df7.rename(columns={'Date' : 'date', 'Adj Close' : 'price_MSFT'}, inplace=True)
df7.set_index('date', inplace=True)

df8 = df8[['Date', 'Adj Close']]
df8.rename(columns={'Date' : 'date', 'Adj Close' : 'price_QQQ'}, inplace=True)
df8.set_index('date', inplace=True)

df9 = df9[['Date', 'Adj Close']]
df9.rename(columns={'Date' : 'date', 'Adj Close' : 'price_VOO'}, inplace=True)
df9.set_index('date', inplace=True)

df10 = df10[['Date', 'Adj Close']]
df10.rename(columns={'Date' : 'date', 'Adj Close' : 'price_VWO'}, inplace=True)
df10.set_index('date', inplace=True)

In [5]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],axis=1)
df.head()

,price_AAPL,price_ARKG,price_ARKK,price_EEM,price_GOOGL,price_ICLN,price_MSFT,price_QQQ,price_VOO,price_VWO
date,,,,,,,,,,
2016-06-06,23.034662,17.126883,18.684488,30.824535,730.059998,8.119722,48.025192,106.049301,176.107620,30.556597
2016-06-07,23.128084,17.015066,18.693867,31.103611,731.090027,8.164486,47.997551,105.780472,176.425583,30.854626
2016-06-08,23.107069,16.940521,18.684488,31.328676,742.929993,8.164486,47.942272,105.962898,177.007004,31.108820
2016-06-09,23.272882,16.527723,18.412472,30.968580,742.520020,8.074963,47.555336,105.790085,176.734497,30.758200
2016-06-10,23.081377,16.157789,18.384335,30.185362,733.190002,7.734777,47.426357,104.589989,175.035614,29.978071

In [7]:
df.describe()

,price_AAPL,price_ARKG,price_ARKK,price_EEM,price_GOOGL,price_ICLN,price_MSFT,price_QQQ,price_VOO,price_VWO
count,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000
mean,59.284402,36.108311,50.564737,41.062610,1215.036076,11.596453,123.239133,187.680411,251.397357,40.084695
std,32.715542,22.969893,31.578960,5.859107,365.017594,5.620785,59.814074,63.253048,51.570795,5.536162
min,21.495594,14.769376,17.127445,29.243011,681.140015,7.168550,44.616528,98.399712,167.127167,29.233200
25%,37.188006,22.328314,31.328406,37.365824,974.469971,8.360267,70.071953,140.698494,211.600357,36.280851
50%,46.223854,28.185715,42.372646,40.818382,1135.939941,9.188039,105.013641,172.594238,243.775742,39.714806
75%,72.547794,34.413201,51.781532,43.648741,1354.765015,11.488851,163.834861,214.128235,278.328781,42.541153
max,142.704010,112.470001,156.580002,57.959999,2393.570068,33.410000,261.366486,342.010010,388.500000,56.417263

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1259 entries, 2016-06-06 to 2021-06-04
Data columns (total 10 columns):
price_AAPL     1259 non-null float64
price_ARKG     1259 non-null float64
price_ARKK     1259 non-null float64
price_EEM      1259 non-null float64
price_GOOGL    1259 non-null float64
price_ICLN     1259 non-null float64
price_MSFT     1259 non-null float64
price_QQQ      1259 non-null float64
price_VOO      1259 non-null float64
price_VWO      1259 non-null float64
dtypes: float64(10)
memory usage: 108.2+ KB

In [11]:
returns_df = df.pct_change(1)

In [12]:
num_stocks = 10
weights = [1/num_stocks]*num_stocks

In [13]:
weights

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [14]:
vcv_matrix = returns_df.cov()

In [15]:
vcv_matrix

,price_AAPL,price_ARKG,price_ARKK,price_EEM,price_GOOGL,price_ICLN,price_MSFT,price_QQQ,price_VOO,price_VWO
price_AAPL,0.000363,0.000230,0.000254,0.000162,0.000212,0.000174,0.000240,0.000225,0.000173,0.000153
price_ARKG,0.000230,0.000515,0.000417,0.000177,0.000206,0.000236,0.000227,0.000220,0.000174,0.000168
price_ARKK,0.000254,0.000417,0.000437,0.000196,0.000226,0.000250,0.000250,0.000238,0.000185,0.000186
price_EEM,0.000162,0.000177,0.000196,0.000192,0.000153,0.000176,0.000163,0.000151,0.000134,0.000181
price_GOOGL,0.000212,0.000206,0.000226,0.000153,0.000284,0.000151,0.000226,0.000198,0.000156,0.000145
price_ICLN,0.000174,0.000236,0.000250,0.000176,0.000151,0.000293,0.000170,0.000162,0.000147,0.000167
price_MSFT,0.000240,0.000227,0.000250,0.000163,0.000226,0.000170,0.000299,0.000219,0.000173,0.000154
price_QQQ,0.000225,0.000220,0.000238,0.000151,0.000198,0.000162,0.000219,0.000196,0.000155,0.000143
price_VOO,0.000173,0.000174,0.000185,0.000134,0.000156,0.000147,0.000173,0.000155,0.000145,0.000127
price_VWO,0.000153,0.000168,0.000186,0.000181,0.000145,0.000167,0.000154,0.000143,0.000127,0.000173

In [16]:
var_p = np.dot(np.transpose(weights), np.dot(vcv_matrix,weights)) #multiply the matrix
var_p

0.00020157365362233196

In [17]:
sd_p = np.sqrt(var_p)

In [18]:
sd_p

0.014197663667742378

In [19]:
sd_p_annual = sd_p * np.sqrt(250)
sd_p_annual

0.2244847732154299

In [20]:
individual_risks = np.std(returns_df) *np.sqrt(250)
individual_risks

price_AAPL     0.301282
price_ARKG     0.358844
price_ARKK     0.330242
price_EEM      0.218811
price_GOOGL    0.266556
price_ICLN     0.270635
price_MSFT     0.273345
price_QQQ      0.221245
price_VOO      0.190492
price_VWO      0.207809
dtype: float64